<!--<nav class="sidebar-nav">-->
<!--    <span class="sidebar-nav__title">-->
<!--        Hauptnavigation-->
<!--    </span>-->

<!--    <ul class="sidebar-nav__menu">-->

<!--        &lt;!&ndash; First level link items &ndash;&gt;-->
<!--        <li class="sidebar-nav__menu__item"-->
<!--            *ngFor="let item of menuItems">-->
<!--            <a [routerLink]="'/'+item.state" routerLinkActive="sidebar-nav__menu__item&#45;&#45;active">-->
<!--                <i class="fa fa-fw fa-{{item.icon}} sidebar-nav__menu__item__icon"></i>-->
<!--                <span class="sidebar-nav__menu__item__title">-->
<!--                    {{item.title}}-->
<!--                </span>-->
<!--            </a>-->
<!--        </li>-->

<!--    </ul>-->

<!--    &lt;!&ndash; Action Items &ndash;&gt;-->
<!--    <span class="sidebar-nav__title">-->
<!--        Weiterführende Informationen-->
<!--    </span>-->
<!--    <ul class="sidebar-nav__folder">-->
<!--        <li class="sidebar-nav__folder__item" *ngFor="let actionItem of actionItems">-->
<!--            <a href="{{actionItem.link}}" target="_blank">-->
<!--                <span class="fa-stack">-->
<!--                    <i class="fa fa-{{actionItem.icon1}} fa-stack-2x"></i>-->
<!--                    <i class="fa fa-{{actionItem.icon2}} fa-stack-1x fa-inverse"></i>-->
<!--                </span>-->
<!--                <span class="title"> {{actionItem.title}} </span>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->

<!--</nav>-->

<nav>
      <span class="sidebar-nav__title">
          Hauptnavigation
      </span>
  <div><img class="logo" src="assets/images/logo.png"></div>
  <a class="active" href="/dashboard">Dashboard</a>
  <a href="/search">Ärzte</a>

      <span class="sidebar-nav__title">
          Weiterführende Informationen
      </span>
  <a href="/help">Hilfe</a>
</nav>
