/* You can add global styles to this file, and also import other style files */

@import "assets/sass/styles.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Styles for cards */
.card {
  width: 330px;
  height: $card-height;
}

.card-header-image {
  background-size: cover;
}

mat-card {
  margin-bottom: 1rem;
}
